@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background: white;
     position: sticky;
     height: 70px;
}
.Logo{
    margin: 0 0 0 .60em;
    font-size: 20px;
    padding-left: 2em;
    
}
.Logo a{
    color: rgb(5, 5, 5);
    font-family: 'Playfair Display', serif;
}
.Logo, Navbar{
    list-style: none;
    text-transform: capitalize;
}
.Logo a, .Navbar a{
    text-decoration: none;
    letter-spacing: .45rem;
 
}
.Navbar{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    margin-right: 15%;
}
.Navbar a{
    display: block;
    padding: 3em;
    color: rgb(70, 70, 70);
    font-size: 9pt;

}
.Navbar a:hover{
    border-bottom: 3px solid rgb(240, 4, 4);
    color: red;
}
.Navbar a.active{
    border-bottom: 3px solid rgb(247, 7, 7);
}
.Hero{
    background-image: url("/cofe.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 800;
}
.Hero-overlay{
align-items: center;
padding: 100px;
padding-top: 300px;
color: white;
z-index: 10000;
}
.Hero-overlay h1{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
}
.Hero-overlay h3{
    font-family: 'Playfair Display', serif;
    font-size: 20x;
    color:  red;
    z-index: 200;
    font-weight: bold;
}

.Hero-overlay button{
border: 0;
outline: 0;
display: inline-block;
padding: 12px 35px;
background-color: #000;
color: white;
text-align: center;
cursor: pointer;
border: 5px solid black;
margin-left: -1px;
margin-top: 5%;
letter-spacing: 5px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-size: 12pt;
}
.Hero-overlay button:hover{
background-color: red;
border: 5px solid red;
}